{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 8,
          "esmodules": true
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": "auto"
      },
      "@babel/preset-typescript"
    ]
  ],
  "plugins": [
      // preset-envには含まれていないTypeScriptの文法が使えるようになる
      // preset-envに含まれる日が来たらこれらは不要になる
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread"
    ]
}
